# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Environment variables
.env

# Build / distribution
build/
dist/
*.egg-info/

# Figures (optional: ignore generated plots if not needed in repo)
# figures/

# Temporary files
*.tmp
*.swp

# make sure .gitignore has this
*.pkl
*.npy