# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# System files
.DS_Store

# Logs
*.log

# Environment variables
.env

# Build / distribution
build/
dist/
*.egg-info/


# Temporary files
*.tmp
*.swp


*.pkl
*.npy
